<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitoblar</title>
</head>
<body>
  <h1>Kitoblar ro'yxati: </h1>
  {% for kitob in kitoblar %}
  <h2 style = 'display:inline;'>{{kitob.id}}. <a href="/kitob/{{kitob.id}}/">{{kitob}}</a></h2>
  <a href="/kitob_tasdiqlash/{{kitob.id}}/"><button>Delete</button></a><br>
  {% endfor %}


    <form method="post" action="/kitoblar/"> {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Qo'shish</button>
    </form>
</body>
</html>